body {
	margin: 0px;
}

#wrapper {
	width: 275px;
	background-color: #f8f8f8;
	font-family: Helvetica, Arial, sans-serif;
}

#logo {
	width: 200px;
	display: block;
	padding-top: 5px;
	margin-right: auto;
	margin-left: auto;
	content: url(../img/uwlogo.png);
	cursor: pointer;
}

#dat {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	padding: 0 10px 0 10px;
	color: #6e6e6e;
}

#info {
	display: block;
	margin-top: 7px;
	font-size: 13px;
}

#info>div {
	padding: 7px 0px 7px 15px;
}

#credit {
	text-align: center;
	margin-top: 5px;
	font-size: 10px;
	padding: 0 10px 0 10px;
	color: #6e6e6e;
	margin-bottom: 10px;
	cursor: pointer;
	text-decoration: underline;
}

.col {
	float: left;
}

.third {
	height: 60px;
	width: 33.33333333%;
}

.sixth {
	width: 16.66666667%;
}

.row {
	display: block;
}

#temperature {
	font-size: 30px;
}

#feelslike {
	font-size: 8px;
}